<div class="hero_image"></div>
<section class="blurb">
	<div class="background">
		<div class="background_overlay">
			<div class="background_overlay_inner">

				<h1 class="background_overlay_header">WHITE DEVIL</h1>
			</div>
		</div>
	</div>
	<p>Your best experience ever!</p>
	<p>&mdash; Choose wisely &mdash;</p>
</section>
<div class="grid_container">

  <div class="intro_text">
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="grid_item women">
    <a href="#">women</a>
  </div>

  <div class="grid_item new_arrivals">
    <a href="#">new arrivals</a>
    <div class="fading_images_wrapper">
			<div class="fading-image fadeIn01"></div>
			<div class="fading-image fadeIn02"></div>
			<div class="fading-image fadeIn03"></div>
    </div>
  </div>

  <div class="grid_item men">
    <a href="men">men</a>
  </div>

  <div class="grid_item brands">
    <a href="#">brands</a>
    <div class="brands_wrapper">
			<div>
				<img src="app/images/brands/vans.svg" alt="Vans Logo">
			</div>
      <div>
      	<img src="app/images/brands/adidas.svg" alt="Adidas Logo">
      </div>
      <div>
      	<img src="app/images/brands/diamond.svg" alt="Diamond Logo">
      </div>
      <div>
      	<img src="app/images/brands/thrasher.svg" alt="Thrasher Logo">
      </div>
      <div>
      	<img src="app/images/brands/ripndip.svg" alt="Ripndip Logo">
      </div>

    </div>
  </div>

  <div class="grid_item choice">
    <a href="#">our catalog</a>
    <img src="app/images/catalog.png" alt="Our catalog">
    <div>
      <p>Officia deserunt mollit anim id est laborum cupidatat non proident.</p>
      <a href="#">Request a catalog</a>
    </div>
  </div>

</div>

<div class="featured">
</div>
