<footer>

    <div class="quick_links">
      <a href="#">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Find a Store
      </a>
      <a href="#">
        <i class="fa fa-car" aria-hidden="true"></i>
        Shipping</a>
      <a href="#">
        <i class="fa fa-gift" aria-hidden="true"></i>
        Gift Cards</a>
    </div>
  <div class="footer_container">
    <div class="footer_links_wrapper">
      <div class="footer_info">
        <h3>Info</h3>
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms of Use </a></li>
          <li><a href="">Returns &amp; Exchanges</a></li>
          <li><a href="">Payment &amp; Security</a></li>
        </ul>
      </div>
      <div class="footer_about">
        <h3>White Devil</h3>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Contacts</a></li>
          <li><a href="">Career</a></li>
          <li>
            <ul>
              <li>
                <a href="#" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                  <span class="screen-reader-text">Facebook</span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                  <span class="screen-reader-text">Instagram</span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                  <span class="screen-reader-text">Twitter</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="newsletter">
        <h3>Stay Connected</h3>
        <p>Insider info on sales, new arrivals and more good stuff.</p>
        <form method="post">
          <input type="text" placeholder="Enter email"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>

    </div>
    <p><small>2015-2017 White Devil Inc. All rights reserved.</small></p>
  </div> <!-- end footer_container -->

</footer>