<div class="page_wrapper">
  <div class="product_image" id="demo">
    <!-- <img src="http://lorempixel.com/400/200/sports/" alt=""> -->
    <img src="http://139.162.34.44:8084{{image}}" alt="" id="changedImage">
  </div>
  <div class="product_data">
    <h1>{{product.name}}</h1>
    <h2>Price: <span>{{product.price}}$</span> </h2>
    <div class="product_details">
      <h3>Colors:</h3>
      <ul>
        <li>
          <button (click)="changeImage(image)">
          <img src="http://139.162.34.44:8084{{image}}" alt="">
          </button>
        </li>
        <li *ngFor="let option of options">
          <button (click)="changeImage(option.images[0].product_url)">
            <img src="http://139.162.34.44:8084{{option.images[0].product_url }}" alt="">
          </button>

        </li>
      </ul>


      <h3>Item #: <span>{{product.id}}</span></h3>
    </div>
    <button type="button" name="button">Add to Cart</button>
    <div class="product_description">
      <h3>Good to know</h3>
      <p>{{product.description}}</p>
    </div>
  </div>
</div>